# Ignore bundler config.
server/.bundle

# Ignore all logfiles and tempfiles.
server/log/*
server/tmp/*
server/!/log/.keep
server/!/tmp/.keep

# Ignore pidfiles, but keep the directory.
server/tmp/pids/*
server/!/tmp/pids/
server/!/tmp/pids/.keep

# Ignore uploaded files in development.
server/storage/*
server/!/storage/.keep
server/.byebug_history

# Ignore master key for decrypting credentials and more.
server/config/master.key
